body {
  font-family: 'Questrial', sans-serif;
  background: rgba(226,226,226,1);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(30%, rgba(219,219,219,1)), color-stop(57%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 30%, rgba(209,209,209,1) 57%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 30%, rgba(209,209,209,1) 57%, rgba(254,254,254,1) 100%);
  background: -webkit-linear-gradient(315deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 30%, rgba(209,209,209,1) 57%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(315deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 30%, rgba(209,209,209,1) 57%, rgba(254,254,254,1) 100%);
  background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 30%, rgba(209,209,209,1) 57%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar-open {
  position: fixed;
  top: 0;
  left: 0%;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
}

.navbar-open:hover {
  cursor: pointer;
  opacity: .9;
}

.nav-line {
  width: 33px;
  margin-bottom: 5px;
  border-radius: 6px;
  height: 5px;
  background: #6F2214;
  position: relative;
  top: 23%;
  left: 18%;
}

.navbar {
  width: 280px;
  height: 180px;
  background: #000;
  position: absolute;
  top: 90%;
  left: 90%;
  display: none;
  border-radius: 10px;
}



.navbar ul li {
  padding: 10px;
  text-align: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 2px;
  
}

.navbar ul li a:hover {
  cursor: pointer;
  color: #FFF2D3;
}

.player {
  width: 400px;
  height: auto;
  border: 6px solid #6F2214;
  -webkit-box-shadow: 0 0 10px 5px;
          box-shadow: 0 0 10px 5px;
  background: #fff;
  z-index: 88;
  position: fixed;
  left: 40%;
  top: 10%;
  display: none;
}

.player h2 {
  font-size: 30px;
  padding-top: 10px;
  padding-left: 5px;
}

.player h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.player ol {
  padding-left: 25px;
  padding-bottom: 10px;
}

.player ol li {
  list-style-type: decimal;
  padding: 10px 0 3px 0;
}

figure {
  max-width: 24.95%;
  text-align: center;
  font-size: 23px;
}

figcaption {
  padding: 20px 20px;
  text-shadow: .5px .5px;
}

@keyframes my {
  0% {transform: perspective(0px) rotateY(0deg)}
  5% {transform: perspective(100px) rotateY(1.4deg)}
  10% {transform: perspective(150px) rotateY(2.8deg)}
  15% {transform: perspective(200px) rotateY(4.2deg)}
  20% {transform: perspective(250px) rotateY(5.6deg)}
  25% {transform: perspective(300px) rotateY(7deg)}
  30% {transform: perspective(350px) rotateY(8.4deg)}
  35% {transform: perspective(400px) rotateY(9.8deg)}
  40% {transform: perspective(450px) rotateY(11.2deg)}
  45% {transform: perspective(500px) rotateY(12.6deg)}
  50% {transform: perspective(550px) rotateY(15deg)}
  55% {transform: perspective(600px) rotateY(12.6deg) scale(1.01)}
  60% {transform: perspective(650px) rotateY(11.2deg) scale(1.02)}
  65% {transform: perspective(700px) rotateY(9.8deg)  scale(1.03)}
  70% {transform: perspective(750px) rotateY(8.4deg) scale(1.04)}
  75% {transform: perspective(800px) rotateY(7deg)  scale(1.05)}
  80% {transform: perspective(850px) rotateY(5.6deg) scale(1.06)}
  85% {transform: perspective(900px) rotateY(4.2deg)  scale(1.07)}
  90% {transform: perspective(950px) rotateY(2.8deg) scale(1.08)}
  95% {transform: perspective(1000px) rotateY(1.4deg)  scale(1.09)}
  100% {transform: perspective(1000px) rotateY(0deg) scale(1.1)}
}

figure img:hover {
  cursor: pointer;
  animation: my 1s linear;
  animation-delay: .1s;
  animation-fill-mode: forwards;
  /*-webkit-transform: scale(1.1)  perspective(575px) rotateY(15deg);
          transform: scale(1.1)  perspective(575px) rotateY(15deg);*/
}

figure img {
  max-width: 100%;
  height: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-box-shadow: 0 0 5px 2px;
          box-shadow: 0 0 5px 2px;
}